/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700;800&family=Roboto+Slab:wght@100;300;400;500;600;800&display=swap");
/*Universal*/
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  transition: all 0.3s;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

.container {
  max-width: 960px;
  margin: auto;
  width: 100%;
}

.btn {
  padding: 10px 24px;
  border-radius: 0.24rem;
  font-family: Poppins;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/*
Variables
*/
body {
  color: #121212;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem;
}

/*
Header Styling
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}
header .nav {
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}
header .nav .logo {
  font-size: 1.3rem;
  color: #121212;
  letter-spacing: 1px;
  text-decoration: none;
  margin-bottom: 1rem;
}
header .nav .navbar {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  padding: 20px 0;
}
header .nav .navbar .nav__link {
  text-decoration: none;
  color: #121212;
  position: relative;
  font-weight: 400;
  transition: all 0.3s linear;
}
header .nav .navbar .nav__link::after {
  position: absolute;
  content: "";
  background: #121212;
  width: 0%;
  height: 2px;
  top: 25px;
  left: 0;
  right: 0;
  opacity: 0;
  margin: auto;
  text-align: center;
  transition: all 0.3s linear;
}
header .nav .navbar .nav__link:hover::after {
  width: 80%;
  opacity: 1;
}
header .nav .menu__icon {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
  z-index: 200;
  transition: 0.3s;
  cursor: pointer;
}
header .nav .menu__icon div {
  display: block;
  background: #121212;
  width: 25px;
  height: 2px;
  transition: 0.3s;
}
header .nav .move .line__1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
header .nav .move .line__2 {
  opacity: 0;
}
header .nav .move .line__3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
header .register__btn {
  color: #121212;
  padding: 10px 24px;
  border: 1px solid #121212;
  font-weight: 500;
  margin-left: 2rem;
  font-size: 0.875rem;
  text-decoration: none;
}
header .register__btn:hover {
  background: #121212;
  color: #fff;
}

/*Home styling*/
.home {
  min-height: 640px;
  background: #fdf5f0;
}
.home .home__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 2rem;
}
.home .home__data .home__text {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.home .home__data .home__text h3 {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: Poppins;
}
.home .home__data .home__text h2 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Roboto Slab", serif;
  line-height: 1.1;
}
.home .home__data .home__image {
  display: none;
}
.home .home__data .home__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  margin-top: 1.5rem;
}
.home .home__data .home__buttons .book__btn {
  border: 1px solid #121212;
  border-radius: 0.2rem;
  color: #fff;
  text-decoration: none;
  background: #121212;
}
.home .home__data .home__buttons .book__btn:hover {
  background: #fff;
  color: #121212;
}
.home .home__data .home__buttons .explore__btn {
  text-decoration: none;
  color: #121212;
  border: 1px solid #121212;
}
.home .home__data .home__buttons .explore__btn:hover {
  background: #121212;
  color: #fff;
}
.home .home__data .home__bg {
  position: relative;
  width: 500px;
  height: 500px;
  bottom: -140px;
  z-index: 2;
}
.home .home__data .home__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: center;
     object-fit: center;
}
.home .home__data .home__bg::after {
  content: "";
  top: -2rem;
  left: -2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #edd4c6;
  z-index: -1;
}
.home .home__data .contact__info {
  display: inline-block;
  margin-top: 2rem;
}
.home .home__data .contact__info .contact__info__box {
  display: inline-flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
.home .home__data .contact__info .contact__info__box .bx {
  font-size: 1.3rem;
}
.home .home__data .contact__info .contact__info__box span {
  font-size: 0.8rem;
}

/*About */
/*About Text*/
.about .about__text {
  text-align: center;
  margin-top: 4rem !important;
}
.about .heading {
  position: relative;
  display: inline-flex;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: Poppins;
}
.about .heading::after {
  position: absolute;
  content: "";
  right: -12px;
  width: 40px;
  height: 40px;
  z-index: -1;
  bottom: 0;
  background: #faf0e4;
  -webkit-clip-path: polygon(50% 0, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
          clip-path: polygon(50% 0, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.about h1 {
  font-size: 1.7rem;
  margin: 1rem 0;
  letter-spacing: 1px;
}
.about p {
  max-width: 600px;
  margin-bottom: 1.5rem !important;
  font-size: 1.075rem;
  color: #27282b;
  margin: auto;
}
.about .learn__more {
  display: inline-flex;
  align-items: flex-end;
  color: #121212;
  text-decoration: none;
  background: #121212;
  color: #fff;
  padding: 12px 24px;
  margin-bottom: 2rem;
}
.about .learn__more .bx {
  font-size: 1.2rem;
  margin-left: 0.4rem;
  transition: all 0.4s;
}
.about .learn__more:hover .bx {
  margin-left: 0.5rem;
  transform: 0.3s;
  transform: rotate(-40deg);
}
.about .learn__more:hover {
  background: #fff;
  color: #121212;
  border: 1px solid #121212;
  border-radius: 0.2rem;
  font-weight: 600;
}

.about__data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  gap: 2rem;
  margin-top: 2rem;
}
.about__data .about__box {
  position: relative;
  width: 100%;
  height: 280px;
}
.about__data .about__box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 7px;
  left: 7px;
  border: 1px solid #edd4c6;
  background: transparent;
  z-index: -1;
}
.about__data .about__box img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about__data .about__box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: hsla(33, 69%, 94%, 0.7);
  padding: 15px;
  -webkit-clip-path: circle(0px at 50% 50%);
          clip-path: circle(0px at 50% 50%);
  transition: all 0.5s ease-in-out;
}
.about__data .about__box .overlay h2 {
  font-size: 1.3rem;
  color: #121212;
  margin-top: 0.5rem;
  font-family: "Raleway", sans-serif;
}
.about__data .about__box .overlay p {
  font-size: 0.9875rem;
}
.about__data .about__box:hover .overlay {
  -webkit-clip-path: circle(70% at 50% 50%);
          clip-path: circle(70% at 50% 50%);
  transition: all 0.5s ease-in-out;
}

/*Services Section*/
.services {
  background: #fdf5f0;
}
.services .heading {
  margin-bottom: 1rem;
  display: inline-flex;
  font-weight: 400;
  border-bottom: 2px solid #121212;
}
.services .service__img {
  position: relative;
  width: 300px;
  height: 450px;
  margin-top: 1.5rem;
}
.services .service__img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1rem;
  left: -1rem;
  background: transparent;
  border: 1px solid #edd4c6;
  z-index: -1;
}
.services .service__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.services .service__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  place-items: center;
}
.services .service__data .service__title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.services .service__data .service__description {
  font-size: 1.075rem;
  letter-spacing: 1px;
  margin: 1.5rem 0;
}
.services .service__package {
  display: grid;
  row-gap: 1rem;
  margin: 2rem 0 1rem;
}
.services .service__package .service__package__box {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.services .service__package .service__package__box .bx {
  color: #27282b !important;
  background: #fff;
  padding: 1rem;
  border-radius: 30px;
  margin-right: 1rem;
}
.services .service__package .service__package__box span {
  font-size: 1.075rem;
  border-bottom: 3px solid #27282b;
  padding-bottom: 0.6rem;
  border-radius: 10px;
}
.services .service__package hr {
  background: #27282b;
  width: 75%;
  margin: 3rem auto 0;
  text-align: center !important;
  height: 3px;
}
.services .service__package .book__now {
  max-width: 100px;
  margin: auto;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #121212;
  color: #121212;
  font-size: 1.085rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}
.services .service__package .book__now:hover {
  background: #d1a670;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.services .slider__btns {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin: 1.5rem auto 1.5rem auto;
}
.services .slider__btns .swiper-button-next,
.services .slider__btns .swiper-button-prev {
  position: static !important;
  transform: translate(0, 0);
  margin-block: 10px;
  background: #121212;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.services .slider__btns .swiper-button-next::after,
.services .slider__btns .swiper-button-prev::after {
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 800;
}/*# sourceMappingURL=index.css.map */